body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #747070;
    color: white;
    padding: 10px 0;
    text-align: right;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    width: 200px;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#hero {
    background-color: #f4f4f4;
    padding: 50px 20px;
    text-align: center;
}

section {
    padding: 20px;
}

h1, h2, h3 {
    margin: 0 0 20px;
}

.project {
    background-color: #e2e2e2;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}
